/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* *{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
} */

/* Custom properties */

/* Base styles */

/* Theme color change */

/* Reusable classes */

/* Header styles*/

/* Header Javascript styles  */

/* Search styles*/

/* Form JavaScript styles */

/* Featured article styles */

/* Quick read styles */

/* Quick read-swipes styles */

/* Order posts styles*/

/* Popular tags styles*/

/* Newsletter styles*/

/* Footer styles*/

/* Blog posts styles*/

/* Media queries */